{% extends 'supplier/base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Construction Marketplace</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style>
.login-form {
    width: 340px;
    margin: 50px auto;
  	font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
</style>
</head>
<body>
<div class="login-form">
    <form action="" method="POST">{% csrf_token %}
        <h2 class="text-center">XYZ<br>Construction<br>Marketplace</h2>
        <div class="form-group">
            <!-- <input type="text" class="form-control" placeholder="Username" required="required"> -->
            {{ form.username|as_crispy_field }}
            <!-- {% for error in form.username.errors %}
                <span style="color:red;"><br>{{ error }}<br></span>
            {% endfor %} -->
        </div>
        <div class="form-group">
            <!-- <input type="password" class="form-control" placeholder="Password" required="required"> -->
            {{ form.password|as_crispy_field }}
            <!-- {% for error in form.password.errors %}
                <span style="color:red;"><br>{{ error }}<br></span>
            {% endfor %} -->
        </div><br>
        <!-- {% for error in form.errors %}
            <span style="color:red;"><br>{{ error }}<br></span>
        {% endfor %} -->
        {{form.non_field_errors}}
        <div class="form-group">
            <!-- <button type="submit" class="btn btn-primary btn-block">Log in</button> -->
            <input type="submit" value="Login" class="btn btn-primary btn-block">
        </div>
        <!-- <div class="clearfix">
            <label class="float-left form-check-label"><input type="checkbox"> Remember me</label>
            <a href="#" class="float-right">Forgot Password?</a>
        </div>         -->
    </form>
    <button class="text-center btn btn-block" style="background-color: black;height: 35px;color: white;"><a href="/suppliersignup/" style="color:white;">Sign Up as Supplier</a></button>
    <button class="text-center btn btn-block" style="background-color: black;height: 35px;color: white;"><a href="#" style="color:white;">Sign Up as Buyer (currently not available)</a></button>
</div>
</body>
</html>
{% endblock %}